[settings]
search_query:#yourHashtag
# Leave empty for all languages
tweet_language:

# Create your app on http://apps.twitter.com
[twitter]
consumer_key:
consumer_secret:
access_token:
access_token_secret:

# Leave blank if you don't want to blacklist any users or words
[preferences]
# blacklisted_users = ['example_user_1','example_user_2']
blacklisted_users = []
# blacklisted_words = ["example_word_1", "example_word_2"]
blacklisted_words = []
