[settings]
# your hashtag or search query and tweet language (empty = all languages)
search_query:#yourHashtag
tweet_language:

[twitter]
# (create an app on http://dev.twitter.com/)
consumer_key:
consumer_secret:
access_token:
access_token_secret:
